extends layout

block content
  h1= title
  p Welcome to #{title}
    button(onclick="window.location.href='/addItem'") add Food
  -var orders = order
  div
    table.table.table-hover
    thead
      tr: th OrderID | 
       th Food Item | 
       th Customer Name | 
       th Delivery Time | 
       th Pickup or Delivery | 
    tbody
    each food in orders
     tr
        td #{food._id} 
        td #{food.FoodItem} 
        td #{food.CustomerName} 
        td #{food.PickUpDeliveryTime} 
        td #{food.PickupOrDelivery} 
        //td=JSON.stringify(seed.prices)